<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- Define the endpoint mapping -->

	<bean id="MessageMapper" class="Appenda_Endpoint_Filtering">
		<property name="delegates">
			<props>
				<prop key="{${bundle.logging.namespace}}Insert">InsertEndpoint</prop>
			</props>
		</property>
	</bean>

	<!-- Endpoint definitions -->

	<bean id="InsertEndpoint" class="Appenda_Bundle_Logging_Endpoint">
		<property name="loggingTable" ref="LoggingTable" />
	</bean>

	<!-- Database configuration -->

	<bean id="Adapter" class="${bundle.logging.adapter.class}">
		<constructor-arg>
			<props>
				<prop key="hostname">${bundle.logging.adapter.host}</prop>
				<prop key="username">${bundle.logging.adapter.user}</prop>
				<prop key="password">${bundle.logging.adapter.password}</prop>
				<prop key="dbname">${bundle.logging.adapter.schema}</prop>
			</props>
		</constructor-arg>
	</bean>

	<bean id="LoggingTable" class="Appenda_Bundle_Logging_Table">
		<constructor-arg index="0">
			<props>
				<prop key="name">${bundle.logging.adapter.schema}</prop>
				<prop key="schema">${bundle.logging.adapter.schema}</prop>
				<prop key="primaryKey">id</prop>
			</props>
		</constructor-arg>

		<constructor-arg index="1" ref="Adapter" />
	</bean>
</beans>
